
@{
    ViewBag.Title = "Angular";
}

<h2>Angular</h2>

<div ng-controller="FormController">
    <form ng-submit="formSubmit()" id="myForm">
        @Html.AntiForgeryToken()

        <label for="email">Email</label>
        <input type="email" name="email" id="email" />

        <label for="password">Password</label>
        <input type="password" name="password" id="password" />

        <label for="passwordConfirmation">Password Confirmation</label>
        <input type="password" name="passwordConfirmation" id="passwordConfirmation" />

        <button type="submit">Submit!!</button>
    </form>
</div>
